.capital{
    position: absolute;
    left: 1300px;
    word-spacing: 4px;
    top: 14px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.huge{
    position: absolute;
    left:1300px;
    top: 240px
}
.text{
    position: absolute;
    left:1300px;
    top: 310px
}
.about{
    position: absolute;
    left: 850px;
    top:750px;
}
