* {
  box-sizing: border-box;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#home {
  background-color: #e6e6e6;
  height: 80v;
  padding-bottom: 15rem;
}
header {
  background-color: #e6e6e6;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #0dc9c6;
  text-decoration: none;
}

a:active {
  color: #0dc9c6;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  padding-right: 10rem;
  font-family: sans-serif;
  font-weight: 700;
}

ul li {
  display: inline;
  margin-left: 20px;
}
h1 {
  margin-left: 53rem;
  padding-top: 10rem;
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 700;
}

p {
  margin-left: 53.5rem;
  margin-top: 2rem;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #808080;
}
#contact {
  color: white;
  margin-left: 53rem;
  margin-top: 4rem;
  font-family: sans-serif;
  font-weight: 700;
  background-color: #0dc9c6;
  height: 4rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 34px;
  margin-left: 40rem;
  background-color: white;
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-family: sans-serif;
}

.aboutus {
  margin-left: 25rem;
  display: flex;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  color: #808080;
}
.signature {
  margin-bottom: 12rem;
}
